/* General styles */
@font-face {
    font-family: 'KEANON';
    src: url('KEANON.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *{
    font-family: 'KEANON', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
body {
   background-color: #fff8e8;
   padding: 0;
   margin: 0px;
   overflow-x: hidden;
}

#dado_nav{
    
    margin-top: 25px;
    display: flex;
    margin-left: 120px;
}

.reg-img{
    margin-top: 9px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#dado_bar{
    margin-right: -80px; 
}

#dado_home{

    margin-left: 16px;
}
#dado_search{
    margin-top: 14px;
    height: 27px;
    width: 300px;
    position: absolute;
    right: 10px;
    max-width: 100%;
 
}

h4{
    position: absolute;
    color: #674636;
    margin-top: 20px;
    left: 45px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

h5{

    color: #674636;
    margin-left: 150px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 18px;
}

.dado_toptrend{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap:50px ;
   
}

figure{
    margin: 0;
    transition: all 0.3s ease; 
   
}


.dado_book
{

    width:180px;
    height: 276px;
    border-radius: 7px 7px 0 0 ;
    box-shadow: 5PX 5px 10px  #674636 ; 
    margin-bottom: 0;
    display: block;
}

hr{
    width:80%;
    justify-content: center;
    color: #674636;
}

figcaption{
    
    opacity: 0;
    transition: all 0.3s ease;
    color: #fff8e8 ;
    text-align: center;
    background-color:  #674636;
    width:180px;
    font-size: 11px;
    height: 40px;
    border-radius: 0 0 20px 20px;
    box-shadow: 5PX 5px 10px  #674636 ;
   display: flex;
   align-items: center;
   justify-content: center;
    
    
}

.fig_hover:hover figcaption {

    opacity: 1;

}

.fig_hover:hover  {

    transform: scale(1.05);
    
}

.reg-img:hover{
   background-color:   #f1d7ca ;
   transform: scale(1.05);
}


#dado_search:hover{
    transform: scale(1.05);
}

.imgForInformaition {
  width: 1592px;
  display: block;
  margin-top: 250px;
  margin-left: 0px;
}

.animation {
  position: absolute;
  opacity: 1;
  animation: fadeIn 2s ease-in-out forwards;
  
}
@keyframes fadeIn {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }

}
.textForInformaition{
  position: absolute; top: 50%; left: 50%;
  margin-top: 70px;
  margin-left: 20px;
  transform: translate(-50%, -50%);
  color: #fff8e8; 
  font-size: 25px;
  text-align: center;
   }
 
 .socialmedia-icon
 {
  position: absolute;
  text-align: center;
  
   margin-top: 500px;
   margin-left: 710px;
 
 
 }
 .socialmedia-icon img
 {
   width: 25px;
   height: 25px;
   margin-right: 10px;
   margin-left: 25px;
   margin-top: 50px;
   transition: transform 0.3s ease-in-out;
   cursor: pointer;
 }
 .socialmedia-icon img:hover
 {
   transform: scale(1.2);
   transition: transform 0.3s ease-in-out;
 }
 
 .footer-text
 {
   position: absolute;
   margin-top: 760px;
   margin-left: 600px;
   color: #fff8e8;
   font-size: 12px;
   text-align: center;
 }
 .footer-text2
 {
   position: absolute;
   margin-top: 650px;
   margin-left: 430px;
   color: #fff8e8;
   font-size: 13px;
   text-align: center;
 }