/* General styles */
@font-face {
    font-family: 'KEANON';
    src: url('KEANON.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *{
    font-family: 'KEANON', Arial, Helvetica, sans-serif; 
  }
body {
   background-color: #fff8e8;
   padding: 35px;
   margin: 0px;
}

#es_nav{
    margin-top: 25px;
    display: flex;
}

.reg-img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#es_bar{
    margin-right: -80px; 
}

#es_home{

    margin-left: 16px;
}
#es_search{
    height: 30px;
    width: 250px;
    position: absolute;
    right: 0px;
    
 
}
h5{
    
    color: #674636;
    margin: auto; 
}
#es_head{
    
    color: #674636;
  margin-left: 70px;
}


.dado_toptrend{

    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap:140px ;
   
}
figure{
    margin: 0;
    transition: all 0.3s ease; 
   
}


.dado_book
{

    width:180px;
    height: 265px;
    border-radius: 7px 7px 0px 0px  ;
    box-shadow: 5PX 5px 10px  #674636 ; 
    margin-bottom: 0;
    display: block;
}

figcaption{
    
   
    transition: all 0.3s ease;
    color: #fff8e8 ;
    text-align: center;
    background-color:  #674636;
    width:180px;
    font-size: 11px;
    height: 40px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5PX 5px 10px  #674636 ;
   display: flex;
   align-items: center;
   justify-content: center;
    
    
}



.fig_hover:hover  {

    transform: scale(1.05);
    cursor: pointer;
    
}

.esraa_book{
    width:180px;
    height: 265px;
    border-radius: 7px 7px 0px 0px  ;
    box-shadow: 5PX 5px 10px  #674636 ; 
    margin-bottom: 0;
    display: block;
    opacity: 0.4;
}


